/**
omTabs 相关
*/
.om-tabs { position: relative; zoom: 1; border: 0;} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.om-tabs .om-tabs-headers { margin:0px; padding:0px; color:#ffffff;background:url(images/tabs/tab_bg.jpg) 0px 22px repeat-x; overflow: hidden;border-width: 0;}
.om-tabs .om-tabs-headers li { list-style: none; float:left; padding-left:20px; line-height:24px; position: relative;}
.om-tabs .om-tabs-headers li.om-state-default { background: url(images/tabs/tab_u.jpg) no-repeat left top; border:0;}
.om-tabs .om-tabs-headers li a.om-tabs-inner { display:block; text-align:center;  font-size:1em; background: url(images/tabs/tab_u.jpg) no-repeat right top; padding-right:30px; text-decoration: none; float: left;}
.om-tabs .om-tabs-headers li.om-tabs-activated { float:left;background: url(images/tabs/tab_d.jpg) no-repeat left top; padding-left:30px; height:23px; line-height:24px; }
.om-tabs .om-tabs-headers li.om-tabs-activated a.om-tabs-inner { text-decoration:none;background: url(images/tabs/tab_d.jpg) no-repeat right top; padding-right:30px;  color:#004098; font-weight:bold;font-size:1em;outline: medium none; }
.om-tabs .om-tabs-panels { display: block; border-width: 0; background: none; }
/*tabs state*/
.om-tabs .om-tabs-headers ul {
	width: 5000px;
	margin: 0;
	padding: 0;
	height: 26px;
}
.om-tabs .om-state-hover a:hover {color:#004098; text-decoration:underline;}
.om-tabs-scroll-left {
	background : url(images/tabs/om-tabs-scroll-left.gif) no-repeat;
	height: 23px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 18px;
    cursor: pointer;
    z-index: 1000;
    -moz-border-radius-topleft: 4px; 
    -webkit-border-top-left-radius: 4px; 
    -khtml-border-top-left-radius: 4px; 
    border-top-left-radius: 4px;
}
.om-tabs-scroll-right {
	background : url(images/tabs/om-tabs-scroll-right.gif) no-repeat;
	height: 23px;
    right: 0;
    position: absolute;
    top: -2px;
    width: 18px;
    cursor: pointer;
    z-index: 1000;
    -moz-border-radius-topright: 4px; 
    -webkit-border-top-right-radius: 4px; 
    -khtml-border-top-right-radius: 4px; 
    border-top-right-radius: 4px;
}
.om-tabs-scroll-right:hover {
	background-position: -18px 0;
}
.om-tabs-scroll-left:hover {
	background-position: -18px 0;
}
.om-tabs-scroll-disabled {
	background-position: 0 0 !important;
    cursor: default;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
}
.om-tabs-headers ul.om-tabs-scrollable {
	padding : 0 23px;
	position: relative;
}
.om-tabs .om-tabs-headers li a.om-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
	position: absolute;
	right: 15px;
}
.om-tabs .om-panel-body{
	border-width: 0;
}
.om-tabs .om-panel-body-noborder {
	border-width: 0;
}
