#body-table {
    width: 960px;
    text-align: left;
    margin : auto;
    background-color:white;
}

.left-panel {
	width: 125px;
	*width:150px;
	border-right: solid #EEEEEE 1px;
}
.center-panel{
	padding-left: 20px;
}
#content_div{
	margin: 0;
    color: #1B75BB;
    padding-top: 15px; 
    clear: both;
}

#content_div a{
    color: #1B75BB;
    text-decoration: none;
}

#demo-source pre {
    border: 1px solid #CCCCCC;
    color: #666666;
    overflow: auto;
    padding: 10px;
    width: 748px; /*770-padding-border*/
}

/* Demos */
.demos-nav, 
.left-panel .demos-nav dt, 
.left-panel .demos-nav dd, 
.left-panel .demos-nav ul, 
.left-panel .demos-nav li {
    margin: 0;
    padding: 0
}
.left-panel .demos-nav div.components{
	display: none;
}
.left-panel .demos-nav {
    width: 185px;
    margin:10px 13px 8px 12px;
}

.left-panel .demos-nav dt,
.left-panel .demos-nav h4 {
    margin: 0;
    padding: 0;
    color: #1B75BB;
    position: relative;
}
.left-panel .demos-nav dt.expand{
	font-weight: bold;
}
.left-panel .demos-nav dt,
.left-panel .demos-nav h4 {
    border-bottom: 1px solid #C5C5C5;
    cursor: pointer;
    background-color: #FAFAFA;
    margin: 0;
    padding: 8px;
    font-size: 14px;
}

.left-panel .demos-nav dd a,
.left-panel .demos-nav li a {
    padding: 2px 3px 2px 0px;
    text-decoration: none;
    color: #5E5E5E ;
    margin:2px 0;
    line-height: 15px;
    cursor: pointer;
    display: block;
    font-size: 13px;
}
.left-panel .demos-nav dd a.new{
    background: url(images/new.png) no-repeat;
    background-position: 150px 4px;
}
.left-panel .demos-nav li a.new{
    background: url(images/new.png) no-repeat;
    background-position: 120px 4px;
}
.left-panel .demos-nav  dd a.selected {
    background-color: #1B75BB!important;
    color:#ffffff;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
}
.left-panel .demos-nav .plus{
   	cursor: pointer;
   	margin: 3px;
   	.vertical-align: middle;
}
.left-panel .demos-nav div.components{
	overflow: hidden;
	position: relative;
}
.left-panel .demos-nav span{
   	display: inline-block;
   	width: 15px;
   	text-align: center;
}
.left-panel .demos-nav ul{
    list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 0 25px;
	display: none;
}
.left-panel .demos-nav ul li{
	margin: 0;
	padding: 0;
}
.left-panel .demos-nav ul li a{
	padding: 3px 8px;
	display: block;
}
.left-panel .demos-nav ul li a:hover{
    background-color: #BCDCF5;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
}
.left-panel dt .trigger{
	position: absolute;
	right: 5px;
	top: 6px;
	width: 16px;
	height: 16px;
	background: url(images/accordion-collapse.gif) no-repeat;
}
.left-panel dt.expand .trigger{
	background: url(images/accordion-expand.gif) no-repeat;
}
.view_source_open {
	background-image: url("images/demo-spindown-open.gif");
	background-position: left center;
    background-repeat: no-repeat;
    padding-left: 13px;
}
.view_source_close {
	background-image: url("images/demo-spindown-closed.gif");
	background-position: left center;
    background-repeat: no-repeat;
    padding-left: 13px;
}
.view-java-src{
	background: url(images/java.gif) no-repeat;
	padding-left: 18px;
	padding: 2px 0px 4px 18px;
	margin-top: 20px;
	margin-left: 10px;
}
.view_notes {
    margin-top:-15px;
    margin-bottom:10px;
    width: 490px;
    font-size :12px;
    font-family: Segoe UI,Arial,sans-serif;
    padding: 5px 20px;
}

/*New window*/
p#demo-link {
    float: right;
    margin: 0 4px;
    padding: 0 0 5px 7px;
}
#demo-link a:link, #demo-link a:visited {
    color: #999999;
    text-decoration: none;
}
#demo-link a:hover, #demo-link a:active{
    text-decoration: underline;
}

#demo-frame-wrapper p {
    font-size: 11px;
}
#demo-frame-wrapper #demo-content {
    height: 320px; 
    border: 1px solid #EEEEEE; 
    clear: right; 
    overflow: auto; 
    position: relative
}
.demo-new-window{
    background: url("images/new-window.png") no-repeat scroll left center transparent;
    padding-left: 18px;
}
.demo-view-doc {
	background: url("images/view-document.png") no-repeat scroll left center transparent;
    padding-left: 17px;
    padding-right: 10px;
}

#demo-config {
	float : left;
	width : 770px;
}


#demo-spec {
	font-family	Trebuchet MS,Verdana,Arial,sans-serif;
	font-size:	12px;
}


/*spec tab*/
#demo-spec-tabber ul a {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    display: block;
    font: 10px Verdana;
    margin: 1px 1px 1px 0;
    padding: 6px 10px;
    text-decoration: none !important;
}
#demo-spec-tabber ul a.selected {
    background: none repeat scroll 0 0 snow;
    border-bottom: 1px solid snow;
    color: #000000;
    cursor: default;
    margin-bottom: 0;
}
#demo-spec {
    background: none repeat scroll 0 0 #181818;
    border: 1px solid #222222;
    color: #111111;
    margin: 8px -2px auto;
    padding-bottom: 25px;
}
.demo-spec-contents {
	border: 1px solid black;
    float: left;
    margin: -2px -1px;
    width: 100%;
}
.widget-docs .om-tabs-panels .om-panel-body{
	padding: 0!important;
}
