<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>operamasks-ui</display-name>
  <servlet>
    <servlet-name>omProxy</servlet-name>
    <servlet-class>org.operamasks.servlet.OmProxyServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>http://127.0.0.1:8080/operamasks-ui/</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>omProxy</servlet-name>
    <url-pattern>*.proxy</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>complexGrid</servlet-name>
    <servlet-class>org.operamasks.servlet.OmComplexGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complexGrid</servlet-name>
    <url-pattern>/complexGridData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omGrid</servlet-name>
    <servlet-class>org.operamasks.servlet.OmGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omGrid</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OmGridCrudServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmGridCrudServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmGridCrudServlet</servlet-name>
    <url-pattern>/gridcrud.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OmSortGridServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmSortGridServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmSortGridServlet</servlet-name>
    <url-pattern>/sortgriddata.data</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OmGridAuthorityServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmGridAuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmGridAuthorityServlet</servlet-name>
    <url-pattern>/gridauthority.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>omCombo</servlet-name>
    <servlet-class>org.operamasks.servlet.OmComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omCombo</servlet-name>
    <url-pattern>/omCombo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omMenu</servlet-name>
    <servlet-class>org.operamasks.servlet.OmMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omMenu</servlet-name>
    <url-pattern>/omMenu.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omTree</servlet-name>
    <servlet-class>org.operamasks.servlet.OmTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omTree</servlet-name>
    <url-pattern>/omTree.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleSuggestionServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.SimpleSuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleSuggestionServlet</servlet-name>
    <url-pattern>/simpleSuggestion.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvancedSuggestionServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.AdvancedSuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSuggestionServlet</servlet-name>
    <url-pattern>/advancedSuggestion.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUrlSuggestionServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.ChangeUrlSuggestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUrlSuggestionServlet</servlet-name>
    <url-pattern>/changeUrlSuggestionServlet.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuggestionEventServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.SuggestionEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuggestionEventServlet</servlet-name>
    <url-pattern>/suggestionEvent.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omCascadeCombo</servlet-name>
    <servlet-class>org.operamasks.servlet.OmCascadeComboServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omCascadeCombo</servlet-name>
    <url-pattern>/cascadeCombo.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omEditorImageUpload</servlet-name>
    <servlet-class>org.operamasks.servlet.OmEditorImageUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omEditorImageUpload</servlet-name>
    <url-pattern>/omEditorImageUpload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omFileUpload</servlet-name>
    <servlet-class>org.operamasks.servlet.OmFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omFileUpload</servlet-name>
    <url-pattern>/omFileUpload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omEditor</servlet-name>
    <servlet-class>org.operamasks.servlet.OmEditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omEditor</servlet-name>
    <url-pattern>/omEditor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omGridPropertyTest</servlet-name>
    <servlet-class>servlet.OmGridTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omGridPropertyTest</servlet-name>
    <url-pattern>/omGridProperty.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ajaxSubmitTest</servlet-name>
    <servlet-class>org.operamasks.test.AjaxSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajaxSubmitTest</servlet-name>
    <url-pattern>/ajaxSubmit.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omTest</servlet-name>
    <servlet-class>org.operamasks.test.OmTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omTest</servlet-name>
    <url-pattern>*.test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validateCode</servlet-name>
    <servlet-class>org.operamasks.servlet.ValidateCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validateCode</servlet-name>
    <url-pattern>/validateCode.code</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>omButtonServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmButtonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omButtonServlet</servlet-name>
    <url-pattern>/omButtonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OmCodeBuilderServlet</display-name>
    <servlet-name>OmCodeBuilderServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmCodeBuilderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmCodeBuilderServlet</servlet-name>
    <url-pattern>/code-builder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>qunitAjaxSubmit</servlet-name>
    <servlet-class>org.operamasks.test.QunitAjaxSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qunitAjaxSubmit</servlet-name>
    <url-pattern>/qunitAjaxSubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>F7Servlet</servlet-name>
    <servlet-class>org.operamasks.servlet.F7Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F7Servlet</servlet-name>
    <url-pattern>/f7Data.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OMCascadeComboData</servlet-name>
    <servlet-class>org.operamasks.servlet.OMCascadeComboData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OMCascadeComboData</servlet-name>
    <url-pattern>/cascadeComboData.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>taobaoSearchServlet</display-name>
    <servlet-name>taobaoSearchServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.TaobaoSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taobaoSearchServlet</servlet-name>
    <url-pattern>/taobaoSearch.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oaSearchServlet</display-name>
    <servlet-name>oaSearchServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OASearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oaSearchServlet</servlet-name>
    <url-pattern>/oaSearch.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>homepage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewJavaSourceServlet</display-name>
    <servlet-name>ViewJavaSourceServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.ViewJavaSourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewJavaSourceServlet</servlet-name>
    <url-pattern>/viewjavasource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OmRegValidateServlet</display-name>
    <servlet-name>OmRegValidateServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmRegValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmRegValidateServlet</servlet-name>
    <url-pattern>/omRegValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginValidateServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.LoginValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginValidateServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
    <url-pattern>/validateCode.image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>omPanelGetDataServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmPanelGetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>omPanelGetDataServlet</servlet-name>
    <url-pattern>/panelDataGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OmItemSelectorServlet</servlet-name>
    <servlet-class>org.operamasks.servlet.OmItemSelectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OmItemSelectorServlet</servlet-name>
    <url-pattern>/items.json</url-pattern>
  </servlet-mapping>
</web-app>